.user {
    &__menu {
        display: none;
        left: 0;
        position: absolute;

        li {
            margin-bottom: 20px;
            padding-left: 30px;
            padding-right: 30px;
        }
        ul {
            @extend .list--plain;
            margin: 0;
        }
    }

    @include media(desktop) {
        &__bonuses {
            .grid p {
                margin-bottom: 0;
            }
            .white-board {
                padding: 25px 35px;
            }
        }
        &__container {
            box-sizing: border-box;
            padding-left: 300px;
        }

        &__menu {
            background-color: $white;
            border-radius: 20px 30px 20px 20px;
            box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
            display: block;
            width: 250px;

            &__header {
                @include background('dot.png', 0 100% repeat-x);
                padding: 10px 10px 20px 30px;

                &__info {
                    align-items: center;
                    display: flex;
                    justify-content: space-between;
                }

                figure {
                    @include square(50px);
                    align-items: center;
                    background-color: $seashell;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;

                    img {
                        @include square(100%);
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
                p {
                    margin: 0;
                    color: $rolling-stone;
                    font-size: $font-size-small;
                }
                strong {
                    display: block;
                }
            }
            &__main {
                font-size: $font-size-small;
                padding-bottom: 20px;
                padding-top: 30px;

                &__item--active {
                    font-weight: 700;
                    position: relative;

                    &:before {
                        @include dim(4px, 100%);
                        background-color: $green-haze;
                        content: '';
                        position: absolute;
                        left: 0;
                    }

                    svg {
                        fill: $green-haze;
                    }
                }
            }
            &__profile-completion {
                @include background('dot.png', 0 0 repeat-x);
                font-size: $font-size-small;
                padding: 30px 0 20px;

                header {
                    align-items: center;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 15px;
                    padding-left: 30px;
                    padding-right: 15px;

                    strong {
                        white-space: nowrap;
                    }
                }
                ul {
                    padding: 0;
                }
            }
        }
    }
}