<footer class="footer">
    <div class="container">
        {% include "../components/logo.twig" %}

        <div class="stripe">
            {% for links in footer.links %}
                <div>
                    <ul>
                        {% for item in links %}
                            <li>
                                {% include "../components/item.twig" with item only %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            {% if footer.infoText is defined %}
                <div class="description">
                    {{ footer.infoText }}
                </div>
            {% endif %}
        </div>

    </div>
</footer>