<footer class="footer">
    <div class="container">
        {% include "../components/logo.twig" %}
        <ul>
            {% for item in footer.links %}
                <li>
                    {% include "../components/item.twig" with item only %}
                </li>
            {% endfor %}
        </ul>
    </div>
</footer>