<header id="header" class="header">
    <div class="container header__stripe">
        {% include "../components/logo.twig" %}

        {% include "../components/hamburger.twig" %}
        <div class="header__menu header__menu--anonym">
            <ul>
                {% for item in menu %}
                    <li>
                        {% include "../components/item.twig" with item %}
                    </li>
                {% endfor %}
                <li class="header__menu--anonym__search">
                    {% include "../components/search.twig" %}
                </li>
            </ul>
        </div>
    </div>
</header>