<header id="header" class="header header--not-logged">
    <div class="container header__stripe">
        {% include "../components/logo.twig" %}

        {% include "../components/hamburger.twig" %}
        <div class="header__menu">
            <ul>
                <li>
                    {% include "../components/search.twig" %}
                </li>
                <li>
                    <a href="#">Registrovat</a>
                </li>
                <li>
                    <a href="./index_logged.html">Přihlásit se</a>
                </li>
            </ul>
        </div>
    </div>
</header>