<header id="header" class="header">
    <div class="container header__stripe">
        {% include "../components/logo.twig" %}

        {% include "../components/hamburger.twig" %}
        <div class="header__menu header__menu--anonym">
            <ul>
                <li>
                    <a href="#">Registrovat</a>
                </li>
                <li>
                    <a href="./index_logged.html">Přihlásit se</a>
                </li>
                <li class="header__menu--anonym__search">
                    {% include "../components/search.twig" %}
                </li>
            </ul>
        </div>
    </div>
</header>