<div class="input{{ error ? ' input--error' : '' }}">
    <input class="input__input" type="{{ type }}" placeholder="{{ label }}">
    {% if error %}
        <span class="input__error">{{ error }}</span>
    {% endif %}
</div>
