<!doctype html>
<html lang="cs">
<head>
    {% include "../fragments/head.twig" %}
</head>
<body>
<!-- HEADER -->
{% if isLogged %}
    {% include "../fragments/header.twig" %}
{% else %}
    {% include "../fragments/header.twig" %}
{% endif %}

<!-- MAIN -->
<main>
    {% block content %}

    {% endblock %}
</main>

<!-- FOOTER -->
{% include "../fragments/footer.twig" %}

<!-- SCRIPTS -->
{% include "../fragments/scripts.twig" %}
</body>
</html>