<!doctype html>
<html lang="cs">
<head>
    {% include "../fragments/head.twig" %}
</head>
<body>
<!-- MAIN -->
<main>
    {% block content %}

    {% endblock %}
</main>

<!-- FOOTER -->
{% include "../fragments/footer.twig" %}

<!-- SCRIPTS -->
{% include "../fragments/scripts.twig" %}

</body>
</html>