<!doctype html>
<html lang="cs">
<head>
    {% include "../fragments/head.twig" %}
</head>
<body>
<!-- SVG MAP -->
<span style="display: none">
    {#
    {% include "../../build/svg/svg-symbols.svg" %}
    #}
</span>
<!-- HEADER -->
{% if isLogged %}
    {% include "../fragments/header_logged.twig" %}
{% else %}
    {% include "../fragments/header.twig" %}
{% endif %}

<!-- MAIN -->
<main>
    {% block content %}

    {% endblock %}
</main>

<!-- FOOTER -->
{% include "../fragments/footer.twig" %}

<!-- SCRIPTS -->
{% include "../fragments/scripts.twig" %}
</body>
</html>