<!doctype html>
<html lang="cs">
<head>
    {% include "../fragments/head.twig" %}
</head>
<body>
{% block header %}
    <!-- SVG MAP -->
    <span style="display: none">
        {#
        {% include "../../build/svg/svg-symbols.svg" %}
        #}
    </span>
    <!-- HEADER -->
    {% if isLogged %}
        {% include "../fragments/header_logged.twig" %}
    {% else %}
        {% include "../fragments/header.twig" %}
    {% endif %}
{% endblock %}

<!-- MAIN -->
<main>
    {% block content %}

    {% endblock %}
</main>

{% block footer %}
    <!-- FOOTER -->
    {% include "../fragments/footer.twig" %}
{% endblock %}

<!-- SCRIPTS -->
{% include "../fragments/scripts.twig" %}
</body>
</html>