.button {
    background-color: $green-haze;
    border: none;
    border-radius: 100px;
    box-sizing: border-box;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-size: $font-size-base-tiny;
    font-weight: 700;
    line-height: 18px;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .5s;
    width: 100%;

    &:hover {
        background-color: $salem;
    }

    &--white {
        background-color: $white;
        color: $tiber;

        &:hover {
            background-color: $porcelain;
            color: $tiber;
        }
    }
    &--outline {
        background-color: transparent;
        border: 1px solid $regent-gray;
        color: $tiber;
        padding: 12px 20px;
        transition: border-color .5s;

        &:hover {
            background-color: transparent;
            border-color: $tiber;
        }
    }

    svg {
        float: left;
        height: 18px;
        margin: -1px 5px 0 0;
        width: 18px;
    }

    @include media(desktop) {
        min-width: 280px;
        width: auto;
    }
}