.button {
    background-color: $green-haze;
    border-radius: 100px;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-size: $font-size-base-tiny;
    font-weight: 700;
    line-height: 18px;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .5s;

    svg {
        float: left;
        height: 18px;
        margin: -1px 5px 0 0;
        width: 18px;
    }

    &:hover {
        background-color: $salem;
    }

    &--outline {
        background-color: transparent;
        border: 1px solid $regent-gray;
        color: $tiber;
        padding: 12px 20px;
        transition: border-color .5s;

        &:hover {
            background-color: transparent;
            border-color: $tiber;
        }
    }

    @include media(desktop) {
        min-width: 280px;
    }
}