.cashbacks {
    background-color: $white;
    border-radius: 20px;
    font-size: $font-size-small;
    padding: 10px 20px;

    p, ul {
        margin: 0;
    }

    li {
        display: flex;
        justify-content: space-between;
    }
    strong {
        font-weight: 400;
        margin: -5px 0 0 20px;
        white-space: nowrap;
    }

    @include media(desktop) {
        max-width: 870px;
        padding-left: 40px;
        padding-right: 40px;

        strong {
            margin-left: 90px;
        }
    }
}