.claim {
    background-color: $white;
    border-radius: 20px;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 35px;
    position: relative;

    &__bottom {
        .highlight {
            margin-right: 5px;
        }
        .rating {
            margin: 15px 0 30px;
        }

        p, ul {
            margin: 0;
        }

        &__links {
            @extend .list--plain;
            display: flex;
            font-size: $font-size-base-tiny;
            justify-content: space-between;
            text-transform: uppercase;

            a {
                color: $rolling-stone;
                font-weight: 700;
                text-decoration: none;

                &:hover {
                    color: $tiber;
                }
            }
        }
    }
    &__content {
        padding: 30px;
    }
    &__favorite {
        cursor: pointer;
        font-size: 0;
        padding: 20px;
        position: absolute;
        right: 0;
        top: 0;

        &:before {
            @include square(100%);
            content: '';
            left: 0;
            position: absolute;
            top: 0;
        }

        &--busy {
            cursor: not-allowed;
            opacity: .3;
        }
        &--is-favorite &--active {
            display: block;
        }
        &--is-favorite &--inctive {
            display: none;
        }
        &--active {
            display: none;
            position: relative;
        }
        &--active {
            svg {
                fill: $green-haze;

                & + svg {
                    fill: $white;
                    left: 50%;
                    position: absolute;
                    top: 25%;
                    transform: translateX(-50%);
                }
            }
        }
    }
    &__top {
        @include background('dot.png', 0 100% repeat-x);

        img {
            margin-bottom: $font-size-base;
        }
    }

    @include media(desktop) {
        &__content {
            padding: 40px 70px 40px 40px;
        }
        &__top {
            align-items: center;
            display: flex;
            justify-content: space-between;

            &__intro {
                display: flex;
                order: 1;
            }
            .button {
                min-width: auto;
            }
            h2 {
                margin: 0 30px 0 0;
            }
            img {
                margin-bottom: 0;
                order: 2;
            }
        }
    }
}