.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 20px;

    &--stripe {
        @include media(desktop) {
            align-items: stretch;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            & > div {
                flex-grow: 1;
                flex-basis: 0;

                & + div {
                    margin-left: 30px;
                }
            }
        }
    }
}