a.item {
    text-decoration: none;

    &:hover span {
        text-decoration: underline;
    }
}
.item {
    color: $tiber;

    svg {
        @include square(16px);
        fill: $tiber;
        margin-right: 14px;
        vertical-align: text-top;
    }

    &--inactive {
        color: $rolling-stone;

        svg {
            fill: $silver;
        }
    }
}