.opener {
    cursor: pointer;
    position: relative;

    &:before {
        @include square(100%);
        content: '';
        left: 0;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    &__target {
        left: -9999px;
        opacity: 0;
        position: absolute;
        transition: opacity .5s;
        visibility: hidden;

        &--active {
            left: 0;
            opacity: 1;
            position: relative;
            visibility: visible;
        }
    }

    .close {
        display: none;
    }

    &--active {
        .arrow svg {
            transform: rotate(180deg);
        }
        .close {
            display: block;
        }
        .open {
            display: none;
        }
    }
}