.rewards-list {
    background-color: $white;
    border-radius: 20px;
    font-size: $font-size-base-small;
    flex-grow: 1;

    &__empty {
        margin: 0;
        padding: 30px 40px;
    }
    &__header {
        color: $rolling-stone;

        & > div {
            box-sizing: border-box;
            height: 65px;
        }
    }
    &__item {
        &__status {
            @include square(16px);
            align-items: center;
            background-color: $green-haze;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            position: relative;

            &--with-tooltip:hover:before {
                $width: 150px;

                background-color: $white;
                border-radius: 10px;
                box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
                bottom: 100%;
                content: attr(data-tooltip);
                font-size: $font-size-base-tiny;
                left: -$width + 10;
                margin-bottom: 10px;
                padding: 10px;
                position: absolute;
                text-align: center;
                width: $width;
            }

            svg {
                fill: $white;
                @include square(13px);
            }
        }

        &--error .highlight {
            color: $guardsman-red;
        }
        &--error &__status {
            background-color: $guardsman-red;

            svg {
                @include square(8px);
            }
        }
    }
    &__logo {
        text-align: center;
        width: 1px;

        img {
            vertical-align: middle;
        }
    }

    li {
        display: table-row;
        height: 60px;

        & + li > div {
            border-top: 1px solid $gallery;
        }
        & > div {
            display: table-cell;
            padding: 15px 20px;
            vertical-align: middle;
        }
    }
    ul {
        @extend .list--plain;
        box-sizing: border-box;
        display: table;
        margin: 0;
        padding: 0 30px 25px;
        width: 100%;
    }

    .highlight {
        white-space: nowrap;
    }
}