.rewards-list {
    background-color: $white;
    border-radius: 20px;
    font-size: $font-size-base-small;
    flex-grow: 1;

    &__header {
        color: $rolling-stone;

        & > div {
            box-sizing: border-box;
            height: 65px;
        }
    }
    &__item {
        &__status {
            @include square(16px);
            background-color: $green-haze;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                fill: $white;
                @include square(13px);
            }
        }

        &--error .highlight {
            color: $guardsman-red;
        }
        &--error &__status {
            background-color: $guardsman-red;

            svg {
                @include square(8px);
            }
        }
    }
    &__logo {
        text-align: center;
        width: 1px;

        img {
            vertical-align: middle;
        }
    }

    li {
        display: table-row;
        height: 60px;

        & + li > div {
            border-top: 1px solid $gallery;
        }
        & > div {
            display: table-cell;
            padding: 15px 20px;
            vertical-align: middle;
        }
    }
    ul {
        @extend .list--plain;
        box-sizing: border-box;
        display: table;
        margin: 0;
        padding: 0 30px 25px;
        width: 100%;
    }

    .highlight {
        white-space: nowrap;
    }
}