.search {
    align-items: center;
    display: flex;

    .opener {
        .close {
            display: none;
            padding-left: 8px;
        }

        svg {
            display: block;
        }

        &__target {
            flex-grow: 1;
        }

        &--active {
            .close {
                display: block;
            }
            .open {
                display: none;
            }
        }
    }

    @include media(desktop) {
        .opener {
            &__target {
                margin-bottom: -10px;
                margin-top: -10px;
            }
        }
    }
}