.search {
    align-items: center;
    white-space: nowrap;

    &[class] {
        display: flex;
    }

    .opener {
        .close {
            display: none;
            padding: 8px 0 8px 8px;
        }

        &--active {
            .close {
                display: inline-block;
            }
            .open {
                display: none;
            }
        }
        &__target {
            flex-grow: 1;
        }
    }

    @include media(desktop) {
        &[class] {
            display: inline-block;
        }

        .opener {
            .close {
                padding: 0;
            }
            &__target {
                display: inline-block;
                margin: -11px 10px -10px 0;
            }
        }
    }
}