.tabs {
    // white-space: nowrap;
    // overflow: auto;

    &__tab {
        background: none;
        border: none;
        color: $rolling-stone;
        cursor: pointer;
        font-family: $font-family-base;
        font-size: $font-size-tiny;
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 10px;
        margin-right: 20px;
        padding: 0 0 10px;
        position: relative;
        text-transform: uppercase;
        transition: color .5s;

        &:hover {
            color: $tiber;
        }

        &--active {
            color: $tiber;

            &:after {
                background-color: $mountain-meadow;
                bottom: 0;
                content: '';
                height: 2px;
                left: 50%;
                margin-left: -20px;
                position: absolute;
                width: 40px;
            }
        }
    }
    &__target {
        display: none;
    }

    @include media(desktop) {
        display: flex;
        overflow: visible;
        white-space: nowrap;

        &__tab {
            margin-bottom: 0;
            margin-right: 0;
        }
        &__tab + &__tab {
            margin-left: 40px;
        }
    }
}