.tabs {
    white-space: nowrap;
    overflow: auto;

    &__tab + &__tab {
        margin-left: 20px;
    }

    &__tab {
        background: none;
        border: none;
        color: $rolling-stone;
        cursor: pointer;
        font-size: $font-size-base-tiny;
        font-weight: 700;
        letter-spacing: 1px;
        padding: 0 0 10px;
        position: relative;
        text-transform: uppercase;
        transition: color .5s;

        &:hover {
            color: $tiber;
        }

        &--active {
            color: $green-haze;

            &:after {
                background-color: $mountain-meadow;
                bottom: 0;
                content: '';
                height: 1px;
                left: 50%;
                margin-left: -20px;
                position: absolute;
                width: 40px;
            }
        }
    }

    @include media(desktop) {
        display: flex;
        overflow: visible;

        &__tab + &__tab {
            margin-left: 40px;
        }
    }
}