.tile {
    align-items: center;
    background-color: $white;
    border-radius: 15px;
    box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    height: 110px;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
    width: 130px;

    img {
        max-height: 90%;
        max-width: 90%;
    }

    &--info {
        font-size: $font-size-base-small;
        width: 100%;

        span {
            font-weight: 700;
            display: block;
        }
        strong {
            color: $green-haze;
            font-size: 28px;
            margin-left: 20px;
            white-space: nowrap;
        }
    }

    @include media(desktop) {
        border-radius: 20px;
        box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.1);
        height: 150px;
        padding: 30px;
        width: 170px;

        &--info {
            width: 370px;
        }
    }
}