.aife {
    align-items: flex-end;
}
.cw {
    color: $white;
}
.fgn {
    flex-grow: 0;
}
.mb {
    margin-bottom: 1em;
}
.mbb {
    margin-bottom: 2em;
}
.mbn {
    margin-bottom: 0;
}
.mt {
    margin-top: 1em;
}
.mtb {
    margin-top: 2em;
}
.pr {
    position: relative;
}
.pb {
    padding-bottom: 1em;
}
.pbb {
    padding-bottom: 2em;
}
.pt {
    padding-top: 1em;
}
.ptb {
    padding-top: 2em;
}
.tac {
    text-align: center;
}
.tar {
    text-align: right;
}
.margin-bottom {
    margin-bottom: 30px;

    @include media(desktop) {
        margin-bottom: 40px;
    }
}