{% extends "layouts/default.twig" %}

{% block content %}

    <div class="container inner--narrow">
        {% include "components/shop-detail/claim.twig" with {claim: claim} only %}
    </div>

{% endblock %}