{% extends "layouts/default.twig" %}

{% block content %}

    <div class="sign-board hit-top">
        <div class="inner--narrow container sign-board__container">
            <div class="sign-board__info">
                <h1>Jak si nechat platit za nákupy v oblíbeném e-shopu?</h1>
                <p>Navštivte známé obchody přes <strong>Tiplero</strong>, nakupujte jako vždy a část peněz za své nákupy získáte zpět!</p>
            </div>
            <div class="sign-board__login">
                <div class="sign-board__login__signup">
                    <h2>Pojďme na to</h2>
                    {% include "components/buttons/button.twig" with {url: './index_logged.html', label: 'Přihlásit přes Facebook', icon: 'facebook', class: 'button--fb'} only %}
                    {% include "components/buttons/button.twig" with {url: './index_logged.html', label: 'Přihlásit přes Google', outline: true, icon: 'google'} only %}
                </div>
                <div class="sign-board__login__register">
                    {% include "components/forms/input.twig" with {type: 'email', label: 'Zadejte Váš e-mail'} only %}
                    {% include "components/buttons/button.twig" with {label: 'Založit účet zdarma'} only %}
                    <p>Registrací souhlasíte s <a href="#">podmínkami užití a zpracováním osobních údajů</a>.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container inner">
        <h2 class="tac">Peníze zpět získáte již v 235 e-shopech</h2>
        <div class="grid">
            {% for tile in shops %}
                {% include "./components/tile.twig" with {tile: tile} only %}
            {% endfor %}
        </div>
        <div class="tac">
            {% include "./components/buttons/button.twig" with {label: 'A spousta dalších obchodů', url: '#'} only %}
        </div>
    </div>

    <div class="wrapper--gray">
        <div class="container inner">
            <h2 class="tac">Jak to funguje?</h2>
            <div class="process-list">
                <ol class="list--ordered">
                    <li>
                        <h4>Najděte e-shop</h4>
                        <p>Najděte oblíbený obchod na tiplero.com</p>
                        <div class="process-list__img process-list__img--first">
                            <img src="./svg/process_shop.svg" alt="Najděte e-shop"/>
                            <span class="process-list__line"></span>
                        </div>
                    </li>
                    <li>
                        <h4>Přejděte a nakupte</h4>
                        <p>Přejděte do obchodu a nakupte</p>
                        <div class="process-list__img process-list__img--second">
                            <img src="./svg/process_basket.svg" alt="Přejděte a nakupte"/>
                            <span class="process-list__line"></span>
                        </div>
                    </li>
                    <li>
                        <h4>Peníze jsou doma</h4>
                        <p>Na účet vám pošleme odměnu</p>
                        <div class="process-list__img process-list__img--third">
                            <img src="./svg/process_wallet.svg" alt="Peníze jsou doma"/>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div class="wrapper--green">
        <div class="container inner">
            <h2 class="tac cw">Co říkají zákazníci</h2>
            <div class="grid--stripe">
                {% for bubble in stories %}
                    {% include "./components/bubble.twig" with {bubble: bubble} only %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="wrapper--blue">
        <div class="container inner additional-info">
            <h2>Ještě chcete něco vědět?</h2>
            <p>Podívejte se na co se ptají ostatní a nebo se rovnou zaregistrujte a začněte získávat své odměny!</p>
            <div class="additional-info__buttons">
                {% include "./components/buttons/button.twig" with {label: 'Často kladené dotazy', white: true, url: '#'} only %}
                <br/>
                {% include "./components/buttons/button.twig" with {label: 'Chci odměny za nákupy', url: '#'} only %}
            </div>
        </div>
    </div>


{% endblock %}