{% extends "layouts/default.twig" %}

{% block content %}

    <div class="container inner">
        <h2>Zásady užívání cookies</h2>
        <h5>1. Úvodní ustanovení</h5>
        <p>Tyto zásady užívání souborů cookies tvoří nedílnou součást Podmínek Služby dostupných na internetové adrese <a href="#">https://www.tipli.cz/podminky</a>. Pojmy zde užívané mají stejný význam jako pojmy definované v Podmínkách dle předchozí věty.</p>
        <h5>2. Účely užívání cookies</h5>
        <p>Za účelem zlepšování kvality Služby a usnadnění jejího používání, zejména pak pro analýzu návštěvnosti a chování Uživatelů, personalizaci obsahu a reklamy či zpřístupnění funkcí sociálních médií, využívá Služba tzv. souborů cookies. Může se jednat o cookies ukládané přímo Poskytovatelem nebo i o cookies nástrojů třetích stran užívaných Poskytovatelem (Google Adwords a Google Analytics - Google Inc., 1600 Amphitheatre Parkway Mountain View, CA 94043, USA; Facebook - Facebook Inc., 1601 Willow Road, Menlo Park, CA 90425, USA; Hotjar - Hotjar Limited, Elia Zammit Street 3, St Julian's STJ 1000, Malta, Sklik – Seznam.cz, a.s., IČO: 26168685, Radlická 3294/10, 150 00 Praha, Česká republika; Smartsupp.com, s.r.o., IČO: 03668681, Milady Horákové 13, 602 00 Brno, Česká republika). Tyto soubory zpravidla neobsahují přímo osobní údaje, avšak obsažené údaje mohou ve spojení s dalšími údaji povahy osobních údajů nabývat.</p>
        <h5>3. Souhlas</h5>
        <p>Souhlas s ukládáním souborů cookies na své zařízení a jejich dalším využitím Poskytovatelem projevuje Uživatel při první návštěvě stránek Služby kliknutím na tlačítko „souhlasím“ v liště zobrazené v dolní části stránky. Tento souhlas může Uživatel kdykoliv odvolat pomocí individuálního nastavení na svém koncovém zařízení (např. nastavením internetového prohlížeče). Uživatel v takovém případě bere na vědomí, že blokování či vymazání souborů cookies, může mít vliv na správnou funkčnost Služby.</p>
    </div>

{% endblock %}