<div id="hamburger" class="hamburger opener opener--active" data-target="header">
    <span class="open">{% include "../../build/svg/hamburger.svg" %}</span>
    <span class="close">{% include "../../build/svg/cross.svg" %}</span>
</div>