<div class="rewards">
    <ul>
        <li>
            <strong>{{ rewards.to_pay }}</strong>
            <p>Odměny k vyplacení</p>
        </li>
        <li>
            <strong>{{ rewards.registered }}</strong>
            <p>Registrované odměny</p>
        </li>
        <li>
            <strong>{{ rewards.bonus }}</strong>
            <p>Bonusové odměny</p>
        </li>
    </ul>
</div>