@import "colors";
@import "header";

$font-family-base: 'Raleway', sans-serif;
$font-size-big: 21px;
$font-size-bigger: 18px;
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-tiny: 12px;
$color-base: $tiber;