// COLORS (from http://chir.ag/projects/name-that-color)
$daintree: #002a3f;
$green-haze: #06a83f;
$guardsman-red: #d50000;
$mountain-meadow: #1db954;
$nobel: #b5b5b5;
$regent-gray: #84949d;
$rolling-stone: #6e777b;
$salem: #0a9039;
$tiber: #08283a;
$white: #fff;
