.header {
    position: relative;

    &__container {
        clear: both;
    }
    &__hamburger {
        cursor: pointer;
        float: right;
        height: 15px;
        width: 20px;
    }
    &__info {
        margin-bottom: 30px;

        p {
            font-size: 20px;
            line-height: 28px;
        }
    }
    &__login {
        text-align: center;

        .button {
            width: 100%;
        }
        h2 {
            font-size: 28px;
            margin: 0 0 20px;
        }
        p {
            font-size: $font-size-base-tiny;
        }
        &__signup {
            background-color: $white;
            border-radius: 10px 10px 0 0;
            box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.1);
            margin-bottom: 8.76%;
            padding: 30px 20px;
            position: relative;

            &:after {
                @include background('login_divider.png', 50% 50% / cover no-repeat);
                content: '';
                left: 0;
                right: 0;
                padding-top: 8.76%;
                position: absolute;
                top: 100%;
            }

            .fb {
                background-color: #4267b2;
                margin-bottom: 10px;
            }
        }
        &__register {
            background-color: $white;
            border-radius: 0 0 10px 10px;
            box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.1);
            padding: 30px;

            .button {
                margin: 20px 0 10px;
            }
        }
    }
    &__menu {
        display: none;
        list-style: none;
        margin: 0;

        a {
            text-decoration: none;
        }
        svg {
            cursor: pointer;
            vertical-align: middle;
        }

        @include media(desktop) {
            display: block;
            float: right;
            font-size: $font-size-base-small;
            font-weight: 700;

            li {
                display: inline-block;

                & + li {
                    margin-left: 25px;
                }
            }
        }
    }
    &__search {
        align-items: center;
        white-space: nowrap;

        &[class] {
            display: flex;
        }

        .opener {
            .close {
                display: none;
                padding: 8px 0 8px 8px;
            }

            &--active {
                .close {
                    display: inline-block;
                }
                .open {
                    display: none;
                }
            }
            &__target {
                flex-grow: 1;
            }
        }

        @include media(desktop) {
            &[class] {
                display: inline-block;
            }

            .opener {
                .close {
                    padding: 0;
                }
                &__target {
                    display: inline-block;
                    margin: -11px 10px -10px 0;
                }
            }
        }
    }
    &__stripe {
        padding: 20px 20px 0;
        position: relative;

        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &--menu-open &__stripe {
        background-color: $white;
    }
    &--menu-open &__menu {
        background-color: $white;
        border-radius: 0 0 20px 20px;
        display: block;
        left: 0;
        padding: 20px;
        position: absolute;
        right: 0;

        li + li {
            margin-top: 25px;
        }
    }
    &--menu-open {
        .hamburger {
            display: none;
        }
        .cross {
            display: block !important;
        }
    }
    &--not-logged {
        @include background('claim_mobile.jpg', 50% 50% / cover no-repeat);
        padding-bottom: 40px;
    }

    @include media(desktop) {
        &__container {
            display: flex;
        }
        &__hamburger {
            display: none;
        }
        &__info {
            margin-right: 20%;

            p {
                width: 80%;
            }
        }
        &__login {
            flex-shrink: 0;
            width: 370px;
        }

        &--not-logged {
            @include background-image('claim.jpg');
            padding-bottom: 70px;
        }
    }
}