.header {
    box-sizing: border-box;
    height: $header-height-mobile;
    position: relative;
    z-index: 2;

    &__stripe {
        padding: 20px;

        a:hover {
            text-decoration: underline;
        }
    }

    &.opener__target--active &__stripe {
        background-color: $white;
    }
    &.opener__target--active &__menu {
        background-color: $white;
        border-radius: 0 0 20px 20px;
        display: block;
        left: 0;
        padding: 20px;
        position: absolute;
        right: 0;

        li + li {
            margin-top: 20px;
        }
    }

    .hamburger {
        float: right;
    }

    @include media(desktop) {
        height: $header-height-desktop;

        &__stripe {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;
        }
    }
}