.header__menu {
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
    display: none;

    a {
        text-decoration: none;
    }
    ul {
        @extend .list--plain;
    }

    .reward .highlight {
        margin-left: 5px;
    }
    .user {
        .opener {
            &--active svg:last-of-type {
                transform: rotate(180deg);
            }
            &__target svg {
                visibility: hidden;
            }

            svg:last-of-type {
                left: auto;
                right: 0;
            }
        }
    }

    @include media(desktop) {
        box-shadow: none;
        display: block;
        font-size: $font-size-base-small;

        &__desktop {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &--anonym {
            &__search {
                margin-right: 25px;
            }
            li:nth-child(1) {
                order: 2;
            }
            li:nth-child(2) {
                order: 3;
            }
            li:nth-child(3) {
                order: 1;
            }
            ul {
                align-items: center;
                display: flex;
            }
        }
        &--logged {
            width: 100%;
        }

        .secondary {
            margin-left: 50px;

            .opener {
                &--active:after {
                    transform: rotate(180deg);
                }
                &:after {
                    @include background('../svg/arrow_down.svg', 50% 50% no-repeat);
                    @include dim(13px, 9px);
                    content: '';
                    display: inline-block;
                }
            }
            svg {
                display: none;
            }
        }
        .submenu {
            background-color: $white;
            box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
            left: 0;
            padding-bottom: $font-size-base;
            padding-top: $font-size-base;
            position: absolute;
            right: 0;
            top: 80%;

            a {
                font-weight: 400;
            }
            li + li {
                margin-left: 10px;
            }
            ul {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
            }
        }
        .user-menu {
            position: relative;

            .opener {
                display: block;

                .arrow {
                    vertical-align: text-bottom;
                }
            }

            a {
                font-weight: 400;
            }
            li {
                display: block;
                margin: 0;

                & + li {
                    margin-top: 15px;
                }
            }
            ul {
                $width: 150px;

                background-color: $white;
                border-radius: 20px;
                box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
                left: -$width;
                margin-top: 15px;
                padding: 20px 30px;
                position: absolute;
                top: 100%;
                width: $width;
            }
        }

        a {
            font-weight: 700;
        }
        li {
            display: inline-block;

            & + li {
                margin-left: 25px;
            }
        }
        ul {
            margin-bottom: 0;
            margin-top: 0;
        }
    }
}